:root{
    
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
--Transparent-white: hsla(0, 0%, 100%, 0.75);
--Very-light-gray: hsl(0, 0%, 95%);


}
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--Very-light-gray);
    font-family: 'lexend deca', sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 300px);
}

.container-sedans{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    background-color: var(--Bright-orange);
    padding: 40px;
    border-radius: 10px 0 0 10px;
}

.container-suvs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    background-color: var(--Dark-cyan);
    padding: 40px;
}

.container-luxury{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    background-color: var(--Very-dark-cyan);
    padding: 40px;
    border-radius: 0 10px 10px 0;
}


h2{
    font-family: 'Big Shoulders Display', sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    text-transform: uppercase;
}
p{
    font-size: 0.8em;
    color: var(--Transparent-white);
    width: 100%;
}

button{
    width: 100px;
    height: 30px;
    font-family: 'lexend deca', sans-serif;
    font-weight: 700;
    background-color: var(--Very-light-gray);
    border-radius: 20px;
    cursor: pointer;
}

.btn-sedans{
    color: var(--Bright-orange);
}
.btn-suvs{
    color: var(--Dark-cyan);
}
.btn-luxury{
    color: var(--Very-dark-cyan);
}


.attribution {color: black; font-size: 11px; text-align: center; opacity: 0.5;}
.attribution a { color: hsl(228, 45%, 44%); }
 